[app]
Name=privyr
LogSavePath="/var/log/privyr/"
LogSaveName=server.log

[server]
RunMode=debug
Host=0.0.0.0
Port=8080
ReadTimeout=60
WriteTimeout=60

[database]
Driver=postgres
Username=privyr
Password="#Privyr@123"
Host=localhost
Port=5432
DbName=privyr
SslMode=disable
